name: Docker-Build

on:
  push:
    branches: [ main ]
    tags:
      - '*'
  schedule:
    - cron: "0 0 * * 0" # every week

jobs:
  build:
    strategy:
      matrix:
        flavor: [ apache, cli ]
        php_version: [ '7.4', '8.0', '8.1', '8.2' ]

    runs-on: ubuntu-latest
    env:
      DOCKER_IMAGE: elcweb/php:${{ matrix.php_version }}

    steps:
      - uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2.4.1

      - name: Login to DockerHub
        uses: docker/login-action@v2.0.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build PHP ${{ matrix.php_version }} - ${{ matrix.flavor }}
        id: docker_build
        uses: docker/build-push-action@v3
        with:
          push: true 
          context: ./${{ matrix.php_version }}/${{ matrix.flavor }}
          tags: ${{ env.DOCKER_IMAGE }}-${{ matrix.flavor }}
          cache-from: type=registry,ref=${{ env.DOCKER_IMAGE }}-${{ matrix.flavor }}
          cache-to: type=inline
