name: CI

on:
  push:
    branches: [ main ]
    tags:
      - '*'
    paths-ignore:
      - '.github/**'
      - 'cloudformation/**'
  pull_request: ~

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DOCKER_IMAGE: elcweb/php

    steps:
      - uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build PHP 8 
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: false
          context: ./8.0/apache
          tags: elcweb/php:8-apache

      - name: Build PHP 7.4
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          push: true
          context: ./7.4/apache
          tags: elcweb/php:7.4-apache
