name: CI-PHP-7.4

on:
  push:
    branches: [ main ]
    tags:
      - '*'
    paths:
      - '7.4/**'
  pull_request: ~

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DOCKER_IMAGE: elcweb/php:7.4-apache

    steps:
      - uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Build PHP 7.4
        id: docker_build_74
        uses: docker/build-push-action@v2
        with:
          push: false
          context: ./7.4/apache
          tags: ${{ env.DOCKER_IMAGE }}
          cache-from: type=registry,ref=${{ env.DOCKER_IMAGE }}
          cache-to: type=inline
