name: PHP-7.4

on:
  push:
    branches: [ main ]
    tags:
      - '*'
    paths:
      - '7.4/**'
      - '.github/workflows/php74.yml'
  schedule:
    - cron: "0 0 * * 0" # every week

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DOCKER_IMAGE: elcweb/php:7.4

    steps:
      - uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1.6.0

      - name: Login to DockerHub
        uses: docker/login-action@v1.10.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build PHP 7.4 Apache
        id: docker_build_74
        uses: docker/build-push-action@v2
        with:
          push: true 
          context: ./7.4/apache
          tags: ${{ env.DOCKER_IMAGE }}-apache
          cache-from: type=registry,ref=${{ env.DOCKER_IMAGE }}-apache
          cache-to: type=inline

      - name: Build PHP 7.4 CLI
        id: docker_build_74_cli
        uses: docker/build-push-action@v2
        with:
          push: true
          context: ./7.4/cli
          tags: ${{ env.DOCKER_IMAGE }}-cli
          cache-from: type=registry,ref=${{ env.DOCKER_IMAGE }}-cli
          cache-to: type=inline

