name: PHP-7.4

on:
  push:
    branches: [ main ]
    tags:
      - '*'
    paths:
      - '7.4/**'
  schedule:
    - cron: "0 0 * * 0" # every week

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DOCKER_IMAGE: elcweb/php:7.4-apache

    steps:
      - uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build PHP 7.4
        id: docker_build_74
        uses: docker/build-push-action@v2
        with:
          push: true 
          context: ./7.4/apache
          tags: ${{ env.DOCKER_IMAGE }}
          cache-from: type=registry,ref=${{ env.DOCKER_IMAGE }}
          cache-to: type=inline
