name: PHP-8.0

on:
  push:
    branches: [ main ]
    tags:
      - '*'
    paths:
      - '8.0/**'
      - '.github/workflows/php80.yml'
  schedule:
    - cron: "0 0 * * 0" # every week

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DOCKER_IMAGE: elcweb/php:8.0

    steps:
      - uses: actions/checkout@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1.9.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build PHP 8.0
        id: docker_build_80
        uses: docker/build-push-action@v2
        with:
          push: true
          context: ./8.0/apache
          tags: ${{ env.DOCKER_IMAGE }}-apache
          cache-from: type=registry,ref=${{ env.DOCKER_IMAGE }}-apache
          cache-to: type=inline

      - name: Build PHP 8.0 CLI
        id: docker_build_80_cli
        uses: docker/build-push-action@v2
        with:
          push: true
          context: ./8.0/cli
          tags: ${{ env.DOCKER_IMAGE }}-cli
          cache-from: type=registry,ref=${{ env.DOCKER_IMAGE }}-cli
          cache-to: type=inline
